<%= link_to 'Create new', new_article_path %>
<div class="pdf-style">
  <p>Article Title:
    <strong><%= @article.title %></strong>
  </p>

  <p>Article Text:
    <strong><%= @article.text %></strong>
  </p>

</div>
